.payments-wrap {
  width: 100%;
}
.payments-info,
.payments-info-amount {
  padding: 50px 20px 50px 20px;
}

.payments-info {
  width: 600px;
  position: absolute;
  left: calc(50% - 460px);
  font-size: 13px;
  padding-bottom: 100px;
}

.payments-info__list {
  margin-bottom: 50px;
}
.payments-info-amount {
  width: 300px;
  position: absolute;
  right: calc(50% - 470px);
  font-size: 14px;
}
.payments-text {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 30px;
}

.payments-info-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 930px) {
  .payments-info {
    width: 100%;
    left: 0;
    right: 0;
    font-size: 13px;
  }
  .payments-info-amount {
    display: none;
  }
}
