.payments-wrap {
  position: relative;
  width: 100%;
}
.payments-info,
.payments-info-amount {
  padding: 230px 20px 50px 20px;
}

.payments-info {
  width: 600px;
  position: absolute;
  left: calc(50% - 460px);
  font-size: 13px;
}

.payments-info__list {
  margin-bottom: 50px;
}
.payments-info-amount {
  width: 300px;
  position: absolute;
  right: calc(50% - 470px);
  font-size: 14px;
}
.payments-text {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 30px;
}
