/* HeaderBan.module.css */

 /* 상단 베너 */
 .banner {
  position: relative;
  left: 35px;
  top: 13px;
  width: 100%;
  max-width: 1190px;
  height: 37px;
  background-color: #008e61;
} 

 /*베너 텍스트*/
 .banner_text{
  text-align: center;
  margin: 0 auto;
  color: white;
  padding-top: 10px;
  font-size: 13px;
  font-family: 'Noto Sans KR', sans-serif;
}

.icon {
  position: absolute;
  right: 30px;
  top: 17px;
  cursor: pointer;
  z-index: 10;
 color: white; 
}