/* HeaderBan.module.css */

   /* 상단 베너 */
 .banner {
  width: 100%;
  height: 37px;
  background-color: #008e61;
} 

.icon {
  position: absolute;
  right: 19px;
  top: 10px;
  cursor: pointer;
  z-index: 10;
 color: white; 
}



