/*MainSlides.module.css*/

/* pc */
@media screen and (min-width:1024px)  {
  .slides {
    position: relative;
    top: -87px;
    max-width: 1200px;
    margin: 0 auto;
   
}
}

/*테블릿*/
@media screen and (min-width:768px) and (max-width:1023px) {
  .slides {
    position: relative;
    top: -97px;
    max-width: 950px;
    margin: 0 auto;
}
}

/*모바일*/
@media screen and (max-width: 768px) {
  .slides {
     max-width: 460px;
     margin: 0 auto;
     margin-top: 93px;
  }
}

/*가로모드 모바일 디바이스*/
@media screen and (min-width: 576px) {
  .slides {
    max-width: 460px;
    margin: 0 auto;
    margin-top: 93px;
 }
}