/* MainBanTwo.module.css */

/*font*/
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../font/NotoSansKR-Regular.woff') format('woff');
  font-display: swap;
}

/* pc */
@media screen and (min-width:1024px)  {
.bantwo {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.bantwo_eve {
  display: flex;
  justify-content: center;
} 

.bantwo_pro {
  display: flex;
  margin-left: 10px;
}
.bantwo_img {
  z-index: 10;
  height: 195px;
}

.bantwo_img_1 {
  width: 299px;
  height: 195px;
  border-radius: 19px;
}

.bantwo_info {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 300px;
  height: 195px;
  margin-left: -57px;
  background-color: whitesmoke;
  border-radius: 19px;
  font-family: 'Noto Sans KR', sans-serif;

}

.info1 {
  font-size: 11px;
  color: crimson;
  font-weight: 700;
}

.info2 {
  font-size: 24px;
}

.info3 {
  font-size: 26px;
  font-weight: 700;
}
}

/*테블릿*/
@media screen and (min-width:768px) and (max-width:1023px) {
  .bantwo {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 300px;
    margin: 0 auto;
  }
  
  .bantwo_eve {
    display: flex;
    justify-content: center;
  } 
  
  .bantwo_pro {
    display: flex;
    margin-left: 10px;
  }
  .bantwo_img {
    z-index: 10;
    height: 195px;
  }
  
  .bantwo_img_1 {
    width: 299px;
    height: 195px;
    border-radius: 19px;
  }
  
  .bantwo_info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 300px;
    height: 195px;
    margin-left: -57px;
    background-color: whitesmoke;
    border-radius: 19px;
    font-family: 'Noto Sans KR', sans-serif;
  
  }
  
  .info1 {
    font-size: 11px;
    color: crimson;
    font-weight: 700;
  }
  
  .info2 {
    font-size: 24px;
  }
  
  .info3 {
    font-size: 26px;
    font-weight: 700;
  }
}

/*모바일*/
@media screen and (max-width: 767px) {
  .bantwo {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 530px;
    margin: 0 auto;
  }
  
  .bantwo_eve {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  } 
  
  .bantwo_pro {
    display: flex;
    margin-left: 10px;
  }
  .bantwo_img {
    z-index: 10;
    height: 195px;
  }
  
  .bantwo_img_1 {
    width: 200px;
    height: 180px;
    border-radius: 19px;
  }
  
  .bantwo_info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 275px;
    height: 180px;
    margin-left: -57px;
    background-color: whitesmoke;
    border-radius: 19px;
    font-family: 'Noto Sans KR', sans-serif;
  
  }
  
  .info1 {
    font-size: 11px;
    color: crimson;
    font-weight: 700;
  }
  
  .info2 {
    font-size: 22px;
  }
  
  .info3 {
    font-size: 22px;
    font-weight: 700;
  }
}