/*subslider.jsx - subslider.module.css*/
img {
  margin: 10px;
  opacity: 0.8;
}

.slick-center img {
  border: 5px solid rgb(255, 1, 1);
  border-radius: 43px;
  margin-top: 20px;
  opacity: 1;
}

.slick-slide {
  margin: 0px;
}