/*Footer.module.css*/

.footer {
  z-index: 20;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110px;
  margin-top: auto;
  background-color: #fff;
}

.footer_contents {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
  padding-bottom: 10px;
 font-size: 13px;
 border-bottom: 1px solid #ddd;
}

.footer_contents > div {
  padding-left: 15px;
}

.footer_logo {
  display: flex;
  height: 110px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
  align-items: center;
  justify-content: space-between;
}


.footer_desccontainer {
   display: flex;
   justify-content: center;
   font-size: 12px;
   color: #666666;
   padding-top: 13px;
   font-family: 'Noto Sans KR', sans-serif;
}

/* 아이폰 SE  */
@media screen and (max-width : 576px) {
  .footer {
    z-index: 20;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 110px;
    margin-top: auto;
   background-color: #fff;
  }
  
  .footer_contents {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    padding-bottom: 10px;
   font-size: 7px;
   font-family: 'Noto Sans KR', sans-serif;
   border-bottom: 1px solid #ddd;
  }
  
  .footer_contents > div {
    padding-left: 15px;
  }
  
  .footer_logo {
    display: flex;
    height: 110px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15px;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer_desccontainer {
     display: flex;
     justify-content: center;
     font-size: 5px;
     color: #666666;
     padding-top: 13px;
     font-family: 'Noto Sans KR', sans-serif;
  }
}
