/*Header.module.css*/

/*font*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');

.header {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 180px;
  /*background-color: #f0eeee;*/
}

.contents {
  display: flex;
  width: 95%;
  height: 110px;
  max-width: 1195px;
  margin: 0 auto;
  padding-top: 45px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #918D8C;
}

.logo {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 45px;
  margin: 0 auto;
  color: #008e61;
}

/*상단 베너*/
.banner {
  position: fixed;
  width: 100%;
  height: 39px;
  background-color: #008e61;
}

p{
  text-align: center;
  margin: 0 auto;
  color: white;
  padding-top: 10px;
  font-size: 13px;
  font-family: 'Noto Sans KR', sans-serif;
}

.icon {
  position: fixed;
  right: 30px;
  top: 11px;
  cursor: pointer;
}

/*헤더 검정 줄*/
.headerline {
  /* width: 1230px; */
  /* border-top: 2px solid #918D8C; */
}
/*모바일*/
@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 180px;
    /*background-color: #f0eeee;*/
  }
  
  .logo {
    position: relative;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 33px;
    margin: 0 auto;
    color: #008e61;
  }
  .contents {
    display: block;
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 45px;
  }

  /*베너 텍스트*/
  p{
    text-align: center;
    margin: 0 auto;
    color: white;
    padding-top: 10px;
    font-size: 11px;
    font-family: 'Noto Sans KR', sans-serif;
  }

  /*베너 아이콘*/
  .icon {
    position: fixed;
    right: 30px;
    top: 14px;
    cursor: pointer;
  }
}