/*Header.module.css*/

/*font*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');

/* pc */
@media screen and (min-width:1024px)  {
  .header {
    z-index: 30;
    position: relative; /*픽스로 고정*/
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
  }
  
  .logo {
    display: flex;
    height: 110px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 45px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #918D8C;
  }
  
  .logo_text {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 45px;
    margin: 0 auto;
    color: #008e61;
  }
} 

/*테블릿*/
@media screen and (min-width:768px) and (max-width:1023px) {
  .header {
    z-index: 30;
    position: relative; /*픽스로 고정*/
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
  }
  
  .logo {
    display: flex;
    height: 110px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 45px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #918D8C;
  }
  
  .logo_text {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 45px;
    margin: 0 auto;
    color: #008e61;
  }
  
} 

/*모바일*/
@media screen and (max-width: 767px) {
  .header {
  position: relative;
  z-index: 30;
  width: 100%;
  height: 150px;
  background-color: #fff;
}
.logo {
  display: flex;
  height: 110px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 45px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #918D8C;
}

.logo_text {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 45px;
  margin: 0 auto;
  color: #008e61;
}
}

/*가로모드 모바일 디바이스
@media screen and (min-width: 576px) {
  .header {
    position: relative;
    top: -93px;
    width: 100%;
    max-width: 600px;
    height: 200px;
    background-color: #fff;
}

.contents {
  width: 95%;
  height: 110px;
  max-width:600px;
  padding-top: 15px;
  border-bottom: 2px solid #918D8C;
}

.logo {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 45px;
  color: #008e61;
}
}
*/