.search_wrap {
  margin-right: 25px;
}

/* 아이폰 SE  */
@media screen and (max-width: 576px) {
  .search_wrap {
    margin-right: 23px;
  }
}

/*검색버튼*/
.search_button {
  position: absolute;
  width: 27px;
  height: 25px;
  cursor: pointer;
  color: #008e61;
}
