.header {
  height: 150px;
  margin: auto;
  max-width: 1280px;
  padding: 10px;
}
.header--icon {
  float: right;
  font-size: 30px;
  cursor: pointer;
  margin-top: 100px;
  position: relative;
}

.alert-count {
  width: 17px;
  height: 17px;
  background: #FF0000;
  position: absolute;
  color: white;
  right: 0;
  top: 0;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}