.tabMenu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.orderList {
  width: 100%;
  height: 56px;
  color: #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}

.active {
  background: black;
  color: white;
}

.line {
  border-bottom: 1.5px solid #333333;
}

@media screen and (max-width : 1100px) {
  .tabMenu {
    width: 100%;
  }
}