/*EveBan.module.css*/

/*font*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');

.eveban {
  display: flex;
  justify-content: center;
  width: 1230px;
  height: 470px;
  margin: 0 auto;
}

.eveban_eve {
  display: flex;
  max-width: 100%;
  margin-top: 40px;
  height: 238px;
} 

.eveban_pro {
  display: flex;
  margin-right: 41px;
  background-color: #D8EBD5;
  border-radius: 19px;
}
.eveban_img {
  z-index: 10;
  height: 195px;
}

.eveban_img_1 {
  width: 200px;
  height: 200px;
  padding-top: 20px;
  border-radius: 19px;
}

.eveban_info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: -42px;
  border-radius: 19px;
  background-color: #D8EBD5;
  font-family: 'Noto Sans KR', sans-serif;
}

.info1 {
  position: absolute;
  /* top: 57px; */
  right: 20px;
  font-size: 20px;
  font-weight: 700;
}

.info2 {
  position: absolute;
  top: 76px;
  right: 20px;
  font-size: 24px;
}

.eveban_info_h {
  font-size: 20px;

  font-weight: 700;
}

.info3 {
  font-size: 11px;
  font-weight: 700;
}
