/* NewItem.module.css */

/* pc */
@media screen and (min-width:1024px)  {
  .newitem {
    position: relative;
    max-width: 1200px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

.newitem_header__text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.newitem__product {
  display: flex;
  justify-content: center;
}
}

/*테블릿*/
@media screen and (min-width:768px) and (max-width:1023px) {
  .newitem {
    position: relative;
    max-width: 1200px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

.newitem_header__text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.newitem__product {
  display: flex;
  justify-content: center;
}


}

/*모바일*/
@media screen and (max-width: 767px) {
  .newitem {
    position: relative;
    max-width: 600px;
    height: 800px;
    width: 100%;
    margin: 0 auto;
}

.newitem_header__text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.newitem__product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
}
