.order-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.order-list__item span:last-child {
  font-weight: bold;
}

.order-list__item--middle {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-list__item--name {
  font-size: 14px;
}
