.order-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-list__item span {
  font-weight: bold;
}

.order-list__item--middle {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-list__item--name {
  color: red;
}
