h3, h2, ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1 {
  margin-top: 0px;
}

div {
  box-sizing: border-box;
}

.header {
  height: 150px;
  margin: auto;
  max-width: 1280px;
}
.header--icon {
  float: right;
  font-size: 30px;
  cursor: pointer;
  margin-top: 100px;
}
.base {
  width: 90%;
  margin: 0px auto 0px auto;
  position: relative;
  max-width: 1280px;
}


.filterBox {
  display: flex;
  justify-content: space-between;
}

.filterBox__filter {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.selectDrop__cont {
  position: absolute;
  top: 80px;
  right: 0;
  width: 250px;
  z-index: 10;
}


@media screen and (max-width : 768px) { 
  .container { 
    grid-template-columns: repeat(2,minmax(0,1fr)); 
  } 
}