/*Home.module.css*/

/* pc */
@media screen and (min-width:1024px)  {
  .home {
    padding-top: 80px;
  }
  
  .main {
    min-height: calc(100vh - 180px);
  }

  .home_ban {
    height: 370px;
    max-width: 100%;
    margin-top: 40px;
    margin: 0 97px;
  }

  .home_ban_img {
    max-width: 595px;
    margin: 0 10px;
  }
}

/*테블릿*/
@media screen and (min-width:768px) and (max-width:1023px) {
  .home {
    padding-top: 80px;
  }
  
  .main {
    min-height: calc(100vh - 180px);
  }

  .home_ban {

  }

  .home_ban_img {
    
  }
}

/*모바일*/
@media screen and (max-width: 767px) {
  .home {
    padding-top: 80px;
  }
  
  .main {
    min-height: calc(100vh - 180px);
  }

  .home_ban {

  }

  .home_ban_img {
    
  }
}