/*Home.module.css*/

/*pc*/
@media screen and (min-width:1024px)  {
  .home {
    padding-top: 80px;
  }
  
  .main {
   min-height: calc(100vh - 180px);
  }

  .home_ban {
    position: relative;
    display: flex;
    justify-content: center;
    height: 350px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .home_ban_img {
    width: 500px;
    height: 280px;
    margin: 0 10px;
  }
}

/*테블릿*/
@media screen and (min-width:768px) and (max-width:1023px) {
  .home {
    padding-top: 80px;
  }
  
  .main {
    min-height: calc(100vh - 180px);
  }

  .home_ban {
    position: relative;
    display: flex;
    justify-content: center;
    height: 350px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .home_ban_img {
    width: 400px;
    height: 239px;
    margin: 0 10px;
  }
}

/*모바일*/
@media screen and (max-width: 767px) {
  .home {
    padding-top: 80px;
  }
  
  .main {
    min-height: calc(100vh - 180px);
  }

  .home_ban {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 540px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 52px;
  }

  .home_ban_img {
    width: 350px;
    height: 230px;
    margin: 0 10px;
  }
} 