/*Home.module.css*/

/* pc */
@media screen and (min-width:1024px)  {
  .home {
    padding-top: 80px;
  }
  
  .main {
    min-height: calc(100vh - 180px);
  }

  .home_ban {
    display: flex;
    height: 370px;
    width: 100%;
    max-width: 1190px;
    margin-top: 40px;
    margin: 0 auto;
  }

  .home_ban_img {
    max-width: 595px;
    margin: 0 10px;
  }
}

/*테블릿*/
@media screen and (min-width:768px) and (max-width:1023px) {
  .home {
    padding-top: 80px;
  }
  
  .main {
    min-height: calc(100vh - 180px);
  }

  .home_ban {
    display: flex;
    height: 370px;
    width: 83%;
    max-width: 1190px;
    margin: 0 auto;
  }


  .home_ban_img {
    max-width: 400px;
    height: 261px;
    margin: 0 10px;
  }
}

/*모바일*/
@media screen and (max-width: 767px) {
  .home {
    padding-top: 80px;
  }
  
  .main {
    min-height: calc(100vh - 180px);
  }

  .home_ban {
    display: flex;
    height: 370px;
    width: 83%;
    max-width: 1190px;
    margin: 0 auto;
  }
  
  .home_ban_img {
    max-width: 400px;
    height: 261px;
    margin: 0 10px;
  }
}