/*NavBar.module.css*/

.alert-count {
  width: 17px;
  height: 17px;
  background: #ff0000;
  position: absolute;
  color: white;
  right: 0;
  top: 0;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* pc */
@media screen and (min-width: 1024px) {
  /*navbar 메뉴*/
  .service_item {
    height: 50px;
    padding-top: 3px;
  }
  .service_item__column {
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: -31px;
  }

  .service_item__product {
    margin-left: 34px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    font-size: 15px;
  }

  .service_item__product1 {
    display: flex;
    color: #008e61;
    font-weight: 600;
  }

  /*햄버거버튼 css*/
  .service_item__icon {
    font-size: 25px;
    padding-right: 5px;
  }
/*nav 서브 리스트 */
.product__list {
  position: absolute;
  top: 39px;
  width: 174px;
  height: 375px;
  line-height: 35px;
  padding-left: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}


  .product__list_item {
    color: black;
    font-size: 14px;
    margin-top: 3px;
    transform: scale(1); /* 이미지 확대 */
    transition: transform 0.5s; /* 시간 설정 */
  }

  .product__list_item:hover {
    color: #666666;
    transform: scale(1.1); /* 이미지 확대 */
    transition: transform 0.5s; /* 시간 설정 */
  }

  .product__list_item_name {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .content_module {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  .content_module__service {
    margin-left: 19px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    font-size: 25px;
    position: relative;
  }
}

/*테블릿*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .service_item {
    height: 50px;
    padding-top: 3px;
  }
  .service_item__column {
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: -31px;
  }

  .service_item__product {
    margin-left: 34px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    font-size: 15px;
  }

  .service_item__product1 {
    color: #008e61;
    font-weight: 600;
    display: flex;
  }

  /*햄버거버튼 css*/
  .service_item__icon {
    font-size: 25px;
    padding-right: 5px;
  }

  
  /*nav 서브 리스트 */
.product__list{
  position: absolute;
  top: 39px;
  width: 174px;
  height: 375px;
  line-height: 35px;
  padding-left: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}


  .product__list_item {
    color: black;
    font-size: 14px;
    margin-top: 3px;
    transform: scale(1); /* 이미지 확대 */
    transition: transform 0.5s; /* 시간 설정 */
  }

  .product__list_item:hover {
    color: #666666;
    transform: scale(1.1); /* 이미지 확대 */
    transition: transform 0.5s; /* 시간 설정 */
  }

  .product__list_item_name {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .content_module {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  .content_module__service {
    margin-left: 19px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    font-size: 25px;
    position: relative;
  }
}

/*모바일*/
@media screen and (max-width: 767px) {
  .service_item {
    height: 50px;
    padding-top: 3px;
  }
  /*nav 메뉴*/
  .service_item__column {
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: -24px;
  }

  .service_item__product {
    display: none;
    margin-left: 50px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    font-size: 15px;
  }

  .service_item__product1 {
    display: flex;
    color: #008e61;
    font-weight: 600;
  }


  /*nav 서브 리스트 */
  .product__list{
    position: absolute;
    top: 33px;
    width: 174px;
    height: 375px;
    line-height: 35px;
    padding-left: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  
  
    .product__list_item {
      color: black;
      font-size: 14px;
      margin-top: 3px;
      transform: scale(1); /* 이미지 확대 */
      transition: transform 0.5s; /* 시간 설정 */
    }
  
    .product__list_item:hover {
      color: #666666;
      transform: scale(1.1); /* 이미지 확대 */
      transition: transform 0.5s; /* 시간 설정 */
    }
  
    .product__list_item_name {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
    }
      /*햄버거버튼 css*/
  .service_item__icon {
    font-size: 25px;
    padding-right: 5px;
  }

  .content_module {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  .content_module__service {
    margin-left: 19px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    font-size: 25px;
    position: relative;
  }
}

/* 아이폰 SE  */
@media screen and (max-width: 576px) {
  .service_item {
    padding-top: 3px;
  }
  /*nav 메뉴*/
  .service_item__column {
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: -24px;
  }

  .service_item__product {
    display: none;
    margin-left: 34px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    font-size: 15px;
  }

  .service_item__product1 {
    display: flex;
    color: #008e61;
    font-weight: 600;
  }


/*nav 서브 리스트 */
.product__list  {
  position: absolute;
  top: 33px;
  width: 174px;
  height: 375px;
  line-height: 35px;
  padding-left: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

  /*햄버거버튼 css*/
  .service_item__icon {
    font-size: 25px;
    padding-right: 5px;
  }


  .product__list_item {
    color: black;
    font-size: 14px;
    margin-top: 3px;
    transform: scale(1); /* 이미지 확대 */
    transition: transform 0.5s; /* 시간 설정 */
  }

  .product__list_item:hover {
    color: #666666;
    transform: scale(1.1); /* 이미지 확대 */
    transition: transform 0.5s; /* 시간 설정 */
  }

  .product__list_item_name {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .content_module {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  .content_module__service {
    margin-left: 19px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    font-size: 25px;
    position: relative;
  }
}
