/*NavBarBox.module.css*/

/*font*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');

/* pc */
@media screen and (min-width:1024px)  {
  /*마이페이지&장바구니 아이콘*/
.navbar_box {
  position: relative;
  top: 5px;
  right: 124px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .navbar_box_icon {
    margin-left:19px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
   }
  
   /*검색 아이콘*/
  .icon1 {
    position: fixed;
    right: 223px;
    top: 166px;
    color: #dddddd;
    cursor: pointer;
  }
}
/*테블릿*/
@media screen and (min-width:768px) and (max-width:1023px) {
   /*마이페이지&장바구니 아이콘*/
.navbar_box {
  position: relative;
  top: -14px;
  right: 29px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .navbar_box_icon {
    margin-left:19px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
   }
  
   /*검색 아이콘*/
  .icon1 {
    position: absolute;
    right: 102px;
    color: #dddddd;
    cursor: pointer;
  }

  /*검색창*/
   .search {
    width: 200px;
    height: 27px;
    border-radius: 15px;
    border : 1px solid #dddddd;
   }
}

/*모바일*/
@media screen and (max-width: 767px) {
    /*마이페이지&장바구니 아이콘*/
    .navbar_box {
      position: relative;
      top: -97px;
      left: 195px;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      
      .navbar_box_icon {
        margin-left:11px;
        text-decoration: none;
        color: #666666;
        cursor: pointer;
        font-size: 13px;
        font-family: 'Noto Sans KR', sans-serif;
       }

      /*검색 아이콘*/
      .icon1 {
        position: fixed;
        right: 73px;
        top: 49px;
        color: #666666;
        cursor: pointer;
      }
    
       .search {
        display: none;
        width: 200px;
        height: 27px;
        border-radius: 15px;
        border : 1px solid #dddddd;
       }
   }
