/*Category.module.css*/

/* pc */
@media screen and (min-width:1024px)  {
  .category {
    position: relative;
    top: 25px;
    width: 1200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .category_ul {
    display: flex;
    line-height: 23px;
  }
  
  .category_item {
    text-align: center;
    margin: 0 auto;
    width: 78px;
    list-style-type : none;
  }
  
  .category_link {
    text-decoration: none;
    color: #666666;
    font-size: 14px;
    margin: 0 auto;
  }
  
}

/*테블릿*/
@media screen and (min-width:768px) and (max-width:1023px) {
    .category {
      position: relative;
      top: 25px;
      max-width:1200px;
      height: 200px;
      margin: 0 auto;
  }
  
  .category_ul {
    display: flex;
    line-height: 23px;
    /* gap: 10px 5px; */
  }
  
  .category_item {
    text-align: center;
    margin: 0 auto;
    width: 78px;
    list-style-type : none;
   
  }
  
}

/*모바일*/
@media screen and (max-width: 768px) {
  .category {
    position: relative;
    top: 25px;
    max-width:1200px;
    height: 240px;
    margin: 0 auto;
    font-size: 12px;
}

.category_ul {
  grid-template-columns: repeat(2, 100px 1fr);
  display: grid;
}
  .category_item {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    list-style-type : none;
    
  }

}
