.localUser-join__footer-btn {
  width: 70%;
}

.localUser-login__footer-btn {
  width: 80%;
}

.localUser-login__footer-btn,
.localUser-join__footer-btn {
  height: 40px;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.bag-detail-btn {
  width: 140px;
  height: 48px;
  background: white;
  border: #B9B9B9 solid 1px;
  border-radius: 5px;
  color: #666666;
  font-weight: 500;
  cursor: pointer;
  margin-right: 45px;
}

.bag-inside-btn {
  width: 140px;
  height: 48px;
  background: #333333;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}