/* Tiile.module.css */
/*font*/
@font-face {
  font-family: "Nanum Pen Script";
  src: url("../../font/NanumPenScript-Regular.woff") format("woff");
  font-display: swap;
}

/*베너 텍스트*/
.banner_text {
  text-align: center;
  margin: 0 auto;
  color: white;
  padding-top: 10px;
  font-size: 13px;
  font-family: "Noto Sans KR";
}

/*로고*/
.logo_text {
  font-family: "Nanum Pen Script";
  font-size: 47px;
  margin: 0 auto;
  color: #008e61;
  cursor: pointer;
}

.localUser-auth__header--title,
.localUser-login__sns-title {
  font-weight: bold;
}

.localUser-auth__header--title {
  text-align: center;
  font-size: 23px;
}

.product-title {
  font-size: 30px;
  margin-bottom: 37px;
  font-weight: 600;
}

.mypage-title {
  font-size: 30px;
  font-weight: 600;
}

.profile_mypage {
  font-size: 25px;
  font-weight: 600;
}

.no_page--title {
  font-size: 100px;
  font-weight: bold;
}
