
@font-face {
  font-family:'Noto Sans KR', sans-serif; 
  src: url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');
}

@font-face {
  font-family :'Nanum Pen Script', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
}