@font-face {
  font-family: "Nanum Pen Script";
  src: url("../font/NanumPenScript-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Nanum Pen Script";
  src: url("../font/NotoSansKR-Regular.woff") format("woff");
  font-display: swap;
}
