.modify-container {
  padding-top: 30px;
}

.modify-container {
  display: flex;
  justify-content: center;
  max-width: 1024px;
  min-width: 790px;
  gap: 50px;
  overflow: auto;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .modify-container {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .modify-userInfo__edit {
    width: 80%;
  }
}
