.modify-container {
  padding-top: 205px;
}

.modify-container {
  display: flex;
  justify-content: center;
  min-width: 1000px;
  gap: 50px;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .modify-container {
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .modify-userInfo__edit {
    width: 80%;
  }
}
